[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin
explicit-defaults-for-timestamp=1
general-log=1
general-log-file=/dev/stdout
slow-query-log=1
slow-query-log-file=/dev/stdout
long-query-time=0.3
default-time-zone='Asia/Tokyo'

[client]
default-character-set=utf8mb4